@import 'variable.scss';

.glass-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .content {
    @extend .set-center;
    width: 60vw;
    height: 60vh;
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;
    border-radius: 1vw;

    .scroll {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 70%;
      margin: 5% auto;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 1vw;
      padding: 1vw;
      @extend .hidden-scroll;
    }

    .none {
      @extend .set-center;
      color: white;
      font-size: 3vw;
      display: none;
    }

    .grid {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2vw;

      & > div {
        position: relative;
        width: 100%;
        height: 20vh;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.9);

        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }

        & > img {
          @extend .set-center;
          height: 75%;
          width: auto;
        }

        & > span {
          @extend .set-center;
          font-size: 5rem;
          font-weight: bold;
        }
      }

      .watched {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .scroll-img {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 2%;
      height: 5%;
      margin: 0 auto;
      background-color: white;
    }
  }
}
