@import 'variable.scss';

.glass-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 60vh;
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;
    border-radius: 1vw;

    .scroll {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 70%;
      margin: 5% auto;
      overflow-y: scroll;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 1vw;
      padding: 1vw;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .none {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3vw;
      display: none;
    }

    .grid {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2vw;

      & > div {
        position: relative;
        width: 100%;
        height: 20vh;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.9);

        &:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }

        & > img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 75%;
          width: auto;
        }

        & > span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 5rem;
          font-weight: bold;
        }
      }

      .watched {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .scroll-img {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 2%;
      height: 5%;
      margin: 0 auto;
      background-color: white;
    }
  }
}
