@import 'variable.scss';
@import 'https://fonts.googleapis.com/css?family=Gothic+A1&display=swap';

.join-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .content {
    width: 40vw;
    height: 26vw;
    @extend .set-center;
    background-image: url(../../public/assets/image/identity-card.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    font-family: 'Gothic A1', sans-serif;

    .info {
      position: absolute;
      top: 6%;
      left: 5%;
      width: 55%;
      text-align: center;

      h1 {
        font-size: 2vw;
        font-weight: bold;
      }

      input {
        all: unset;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 1vw auto;
        width: 70%;
        font-size: 1.2vw;
        padding: 0.5vw;
        border-radius: 5px;
        &::placeholder {
          font-size: 1vw;
        }
      }

      .id {
        display: block;
      }
      .pw {
        width: 35%;
        margin-right: 1vw;
      }
      .pwCheck {
        width: 35%;
        margin-left: 1vw;
      }
      .email {
        display: block;
      }
    }

    .profile {
      position: absolute;
      top: 6%;
      right: 5%;
      content: url(../../public/assets/svg/profile.svg);
      width: 35%;
      height: auto;
    }

    .apply {
      content: url(../../public/assets/svg/approved-black.svg);
      position: absolute;
      bottom: 0%;
      left: 50%;
      width: 45%;
      height: auto;
      transform: translateX(-50%);
      transition-duration: 0.1s;
    }

    .apply-after {
      content: url(../../public/assets/svg/approved-red.svg);
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 45%;
      height: auto;
      z-index: -1;
      opacity: 0;
      transition-duration: 1s;
    }

    .notice {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 32%;
      color: $warning-color;
      font-size: $notice-font-size;
      font-weight: bold;
    }
  }
}
