@import 'variable.scss';
@import 'https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap';

.login-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .content {
    width: 40vw;
    height: 26vw;
    @extend .set-center;
    background-image: url(../../public/assets/image/membership-card.png);
    background-size: 100% 100%;
    color: #d6a039;
    text-align: center;
    font-family: 'Nanum Gothic Coding', monospace;

    .info {
      @extend .set-center;
      width: 55%;
      text-align: center;
      color: #d6a039;

      .id {
        all: unset;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0.5vw auto;
        width: 70%;
        font-size: 1.2vw;
        padding: 0.5vw;
        border-radius: 5px;
        &::placeholder {
          font-size: 1vw;
        }
      }

      .pw {
        all: unset;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0.5vw auto;
        width: 70%;
        font-size: 1.2vw;
        padding: 0.5vw;
        border-radius: 5px;
        &::placeholder {
          font-size: 1vw;
        }
      }
    }

    .apply {
      content: url(../../public/assets/svg/approved-black.svg);
      position: absolute;
      bottom: 5%;
      right: 5%;
      width: 30%;
      height: auto;
      transition-duration: 0.1s;
    }

    .apply-after {
      content: url(../../public/assets/svg/approved-yellow.svg);
      position: absolute;
      bottom: 50%;
      right: 5%;
      width: 30%;
      height: auto;
      z-index: -1;
      opacity: 0;
      transition-duration: 1s;
    }

    .notice {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      color: #d6a039;
      font-size: $notice-font-size;
      font-weight: bold;
    }
  }
}
