@import 'variable.scss';

.menu-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;
    border-radius: 1vw;
  }

  .menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    background-image: url(../../public/assets/image/menu-bgi.png);
    background-size: 100% 100%;
    text-align: center;
    color: #6e482f;

    .type {
      font-size: 40px;
      font-weight: bold;
      margin-top: 1.5vw;
    }
  }

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .alcohol {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 30%;
      height: 80%;

      .bottle {
        display: inline-block;
        width: 35%;
        height: auto;
      }

      .glass {
        display: inline-block;
        width: 20%;
        height: auto;
      }

      .reply-count {
        font-size: 1.5vw;
        font-weight: bold;
      }
    }
    .worry {
      width: 60%;
      height: 90%;
      border-left: 2px #7e583f dashed;
      padding: 0 1vw;

      .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2vw;
        overflow: hidden;
      }

      .story {
        text-align: left;
        font-size: 18px;
        color: #8e684f;
        width: 100%;
        height: 70%;
        overflow-y: scroll;
        -ms-overflow-style: none;
        white-space: pre-wrap;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .btn-box {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    & > button {
      all: unset;
      width: 5vw;
      height: 2vw;
      color: #e8d6b4;
      margin: 0 1vw;
      border-radius: 0.5vw;
      background-color: #7e583f;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #7e583f;
      }
    }
  }

  .arrow-back {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    content: url(../../public/assets/image/back.png);
    width: 2vw;
    height: 5vw;
    cursor: pointer;
    &:hover {
      content: url(../../public/assets/image/back-white.png);
    }
  }
  .arrow-next {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    content: url(../../public/assets/image/next.png);
    width: 2vw;
    height: 5vw;
    cursor: pointer;
    &:hover {
      content: url(../../public/assets/image/next-white.png);
    }
  }
}
