@import 'variable.scss';

.menu-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .background {
    @extend .set-center;
    width: 60%;
    height: 70%;
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;
    border-radius: 1vw;
  }

  .menu {
    @extend .set-center;
    width: 98%;
    height: 98%;
    background-image: url(../../public/assets/image/menu-bgi.png);
    background-size: 100% 100%;
    text-align: center;
    color: $text-color;

    .type {
      font-size: 40px;
      font-weight: bold;
      margin-top: 1.5vw;
    }
  }

  .content {
    @extend .set-center;
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1vw;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .alcohol {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      width: 30%;
      height: 80%;

      .bottle {
        display: inline-block;
        width: 35%;
        height: auto;
      }

      .glass {
        display: inline-block;
        width: 20%;
        height: auto;
      }

      .reply-count {
        font-size: 1.5vw;
        font-weight: bold;
      }
    }
    .worry {
      width: 60%;
      height: 90%;
      border-left: 2px $text-color dashed;
      padding: 0 1vw;

      .title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2vw;
        overflow: hidden;
      }

      .story {
        text-align: left;
        font-size: 18px;
        color: $text-color-bright;
        width: 100%;
        height: 70%;
        @extend .hidden-scroll;
        white-space: pre-wrap;
      }
    }
  }

  .btn-box {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    @extend .flex-center;

    & > button {
      @extend .common-btn;
      width: 5vw;
      height: 2vw;
      margin: 0 1vw;
      border-radius: 0.5vw;

      &:hover {
        background-color: $btn-back-color-hover;
        color: $btn-color-hover;
      }
    }
  }

  .arrow-back {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    content: url(../../public/assets/image/back.png);
    width: 2vw;
    height: 5vw;
    cursor: pointer;
    &:hover {
      content: url(../../public/assets/image/back-white.png);
    }
  }
  .arrow-next {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    content: url(../../public/assets/image/next.png);
    width: 2vw;
    height: 5vw;
    cursor: pointer;
    &:hover {
      content: url(../../public/assets/image/next-white.png);
    }
  }
}
