@import 'variable.scss';

.reply-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0.5, 0.75, 1, 0.8);
  }

  .content {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../public/assets/image/leather.jpg);
    background-repeat: repeat;
    background-size: contain;
    padding: 1vw;

    .reply-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      .reply {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 55%;
        color: white;
        font-size: 20px;
        white-space: pre-wrap;
        border: 2px white dashed;
        border-radius: 10px;
        padding: 20px;
      }

      .prev-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #e8d6b4;
          background-color: #6e482f;
        }
      }
      .next-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #e8d6b4;
          background-color: #6e482f;
        }
      }

      .delete-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: #e8d6b4;
          background-color: #6e482f;
        }
      }
    }

    .worry {
      position: relative;
      width: 95%;
      height: 0%;
      transition-duration: 1s;
      background-color: #cebea1;
      border: 2px #cebea1 solid;
    }

    .bottom {
      height: 90%;
    }

    .worry-content {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      color: #6e482f;

      .title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2vw;
        overflow: hidden;
      }

      .story {
        font-size: 18px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        white-space: pre-wrap;
        width: 100%;
        height: 70%;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .arrow-box {
      position: relative;
      width: 100%;
      height: 10%;
      margin: 0 auto;
      background-image: url(../../public/assets/image/paper.png);
      background-size: 100% 100%;
      cursor: pointer;

      .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10%;
        height: auto;
      }
    }
  }
}
