@import 'variable.scss';

.reply-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .content {
    width: 50vw;
    height: 60vh;
    @extend .set-center;
    background-image: url(../../public/assets/image/leather.jpg);
    background-repeat: repeat;
    background-size: contain;
    padding: 1vw;

    .reply-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      .reply {
        @extend .set-center;
        width: 75%;
        height: 55%;
        color: white;
        font-size: $story-font-size;
        white-space: pre-wrap;
        border: 2px white dashed;
        border-radius: 10px;
        padding: 20px;
      }

      .prev-btn {
        @extend .common-btn;
        position: absolute;
        bottom: 5%;
        left: 8%;
      }
      .next-btn {
        @extend .common-btn;
        position: absolute;
        bottom: 5%;
        right: 8%;
      }

      .delete-btn {
        @extend .common-btn;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .worry {
      position: relative;
      width: 90%;
      height: 0%;
      transition-duration: 1s;
      background-color: #cebea1;
      box-sizing: border-box;
      border: 2px #cebea1 solid;
      margin: 0 auto;
    }

    .bottom {
      height: 90%;
    }

    .worry-content {
      display: none;
      @extend .set-center;
      width: 80%;
      height: 80%;
      color: $text-color;

      .title {
        text-align: center;
        font-size: $title-font-size;
        font-weight: bold;
        margin-bottom: 2vw;
        padding: 10px;
        overflow: hidden;
      }

      .story {
        font-size: $story-font-size;
        @extend .hidden-scroll;
        white-space: pre-wrap;
        padding: 10px;
        width: 100%;
        height: 70%;
      }
    }

    .arrow-box {
      position: relative;
      margin-left: 5%;
      width: 95%;
      height: 10%;
      background-image: url(../../public/assets/image/paper.png);
      background-size: 100% 100%;
      cursor: pointer;

      .arrow {
        @extend .set-center;
        width: 10%;
        height: auto;
      }
    }
  }
}
