@import 'variable.scss';

.talk-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .content {
    position: absolute;
    top: 5%;
    left: 35%;
    transform: translateX(-50%);
    width: 40%;
    height: 60%;
    border-radius: 1vw;
    @extend .hidden-scroll;
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;

    .worry-box {
      @extend .set-center;
      width: 90%;
      height: 90%;
      background-image: url(../../public/assets/image/menu-bgi.png);
      background-size: 100% 100%;

      .title {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        font-size: $title-font-size;
        font-weight: bold;
        color: $text-color;
        overflow: hidden;
      }

      .story {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        font-size: $story-font-size;
        width: 90%;
        height: 70%;
        color: $text-color-bright;
        border-radius: 10px;
        white-space: pre-wrap;
        @extend .hidden-scroll;
      }
    }
  }
  .reply-box {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 25%;
    border-radius: 1vw;
    padding: 1vw;
    background-color: $btn-color;

    .reply {
      all: unset;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 50%;
      padding: 20px;
      border-radius: 10px;
      color: $text-color;
      font-size: $story-font-size;
      background-color: rgba($color: #fff, $alpha: 0.2);
    }
    .submit {
      @extend .common-btn;
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translateX(-50%);
      width: 7%;
      border-radius: 10px;
      padding: 10px;
    }
    .change {
      @extend .common-btn;
      position: absolute;
      right: 5%;
      bottom: 5%;
      width: 7%;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
