@import 'variable.scss';

.write-container {
  @extend .component-container;

  .layout {
    @extend .component-layout;
  }

  .form {
    @extend .set-center;
    width: 50vw;
    height: 60vh;
    background-image: url(../../public/assets/image/menu-bgi.png);
    background-size: 100% 100%;

    .title {
      all: unset;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 10px;
      font-size: $title-font-size;
      font-weight: bold;
      color: $text-color;
    }

    .story {
      all: unset;
      position: absolute;
      bottom: 25%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 50%;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.2);
      font-size: $story-font-size;
      color: $text-color-bright;
    }

    .notice {
      position: absolute;
      bottom: 20%;
      width: 100%;
      color: $warning-color;
      font-size: $notice-font-size;
      text-align: center;
    }

    .submit {
      @extend .common-btn;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
