.check-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../../public/assets/image/entrance.jpg);
  background-size: 100vw 100vh; }
  .check-container .partition {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(10, 1fr); }
    .check-container .partition .part {
      position: relative;
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.75);
      transition-duration: 1s;
      opacity: 0.75; }
    .check-container .partition .active {
      grid-column: span 4;
      background-color: rgba(0, 0, 0, 0);
      opacity: 1; }
    .check-container .partition .guide-login {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      font-size: 1vw;
      font-weight: bold;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      width: 6vw;
      border-radius: 0.5vw;
      padding: 0.5vw;
      margin: 0.5vw;
      opacity: 0;
      transition-duration: 1s; }
    .check-container .partition .guide-join {
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      font-size: 1vw;
      font-weight: bold;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      width: 6vw;
      border-radius: 0.5vw;
      padding: 0.5vw;
      margin: 0.5vw;
      opacity: 0;
      transition-duration: 1s; }
    .check-container .partition .security {
      content: url(../../public/assets/image/security.png);
      width: 18vw;
      height: auto;
      background-color: rgba(255, 255, 255, 0);
      padding: 2.5vw;
      border-radius: 11vw;
      cursor: pointer;
      transition-duration: 1s; }
      .check-container .partition .security:hover {
        background-color: rgba(255, 255, 255, 0.25); }
    .check-container .partition .login-box {
      content: url(../../public/assets/image/membership-card-sample.png);
      width: 25vw;
      height: 16.25vw;
      cursor: pointer;
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
      transition-duration: 1s; }
      .check-container .partition .login-box:hover {
        box-shadow: 0px 0px 0.5vw 1.5vw rgba(255, 255, 255, 0.75); }
    .check-container .partition .join-box {
      content: url(../../public/assets/image/identity-card-sample.png);
      width: 25vw;
      height: auto;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
      transition-duration: 1s; }
      .check-container .partition .join-box:hover {
        box-shadow: 0px 0px 0.5vw 1.5vw rgba(255, 255, 255, 0.75); }
