.set-center, .glass-container .content, .glass-container .content .none, .glass-container .content .grid > div > img, .glass-container .content .grid > div > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container, .glass-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout, .glass-container .layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer; }
  .common-btn:hover {
    color: #7e583f;
    background-color: #fff; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden-scroll, .glass-container .content .scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; }
  .hidden-scroll::-webkit-scrollbar, .glass-container .content .scroll::-webkit-scrollbar {
    display: none; }

.glass-container .content {
  width: 60vw;
  height: 60vh;
  background-image: url(../../public/assets/image/leather.jpg);
  background-size: contain;
  border-radius: 1vw; }
  .glass-container .content .scroll {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    margin: 5% auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1vw;
    padding: 1vw; }
  .glass-container .content .none {
    color: white;
    font-size: 3vw;
    display: none; }
  .glass-container .content .grid {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2vw; }
    .glass-container .content .grid > div {
      position: relative;
      width: 100%;
      height: 20vh;
      border-radius: 5px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.9); }
      .glass-container .content .grid > div:hover {
        background-color: rgba(255, 255, 255, 0.6); }
      .glass-container .content .grid > div > img {
        height: 75%;
        width: auto; }
      .glass-container .content .grid > div > span {
        font-size: 5rem;
        font-weight: bold; }
    .glass-container .content .grid .watched {
      background-color: rgba(255, 255, 255, 0.3); }
  .glass-container .content .scroll-img {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 2%;
    height: 5%;
    margin: 0 auto;
    background-color: white; }
