@import 'https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap';
.set-center, .login-container .content, .login-container .content .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container, .login-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout, .login-container .layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold; }
  .common-btn:hover {
    color: #7e583f;
    background-color: #fff; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; }
  .hidden-scroll::-webkit-scrollbar {
    display: none; }

.login-container .content {
  width: 40vw;
  height: 26vw;
  background-image: url(../../public/assets/image/membership-card.png);
  background-size: 100% 100%;
  color: #d6a039;
  text-align: center;
  font-family: 'Nanum Gothic Coding', monospace; }
  .login-container .content .info {
    width: 55%;
    text-align: center;
    color: #d6a039; }
    .login-container .content .info .id {
      all: unset;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0.5vw auto;
      width: 70%;
      font-size: 1.2vw;
      padding: 0.5vw;
      border-radius: 5px; }
      .login-container .content .info .id::placeholder {
        font-size: 1vw; }
    .login-container .content .info .pw {
      all: unset;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0.5vw auto;
      width: 70%;
      font-size: 1.2vw;
      padding: 0.5vw;
      border-radius: 5px; }
      .login-container .content .info .pw::placeholder {
        font-size: 1vw; }
  .login-container .content .apply {
    content: url(../../public/assets/svg/approved-black.svg);
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30%;
    height: auto;
    transition-duration: 0.1s; }
  .login-container .content .apply-after {
    content: url(../../public/assets/svg/approved-yellow.svg);
    position: absolute;
    bottom: 50%;
    right: 5%;
    width: 30%;
    height: auto;
    z-index: -1;
    opacity: 0;
    transition-duration: 1s; }
  .login-container .content .notice {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: #d6a039;
    font-size: 1vw;
    font-weight: bold; }
