.main-container {
  width: 100vw;
  height: 100vh;
  background: url(../../public/assets/image/bar.jpg);
  background-size: cover;
  background-position: center center; }
  .main-container .layout-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.75) 55%, black 100%); }
  .main-container .layout-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.75) 55%, black 100%); }
  .main-container .bartender {
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: 30%;
    height: auto;
    content: url(../../public/assets/image/bartender-black.png);
    cursor: pointer;
    transition-duration: 0.5s; }
    .main-container .bartender:hover {
      width: 32%;
      content: url(../../public/assets/image/bartender-white.png); }
  .main-container .table {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    content: url(../../public/assets/image/table.png); }
  .main-container .menu-img {
    background-image: url(../../public/assets/image/leather.jpg);
    background-size: contain;
    background-repeat: repeat;
    height: 15%;
    width: 10%;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px black;
    color: white;
    font-size: 1.5vw;
    cursor: pointer; }
    .main-container .menu-img:hover {
      box-shadow: 0px 0px 5px 5px white; }
  .main-container .logout {
    content: url(../../public/assets/image/exit-dark.png);
    position: absolute;
    top: 7%;
    left: 5%;
    height: 4vw;
    width: 10vw;
    cursor: pointer; }
    .main-container .logout:hover {
      content: url(../../public/assets/image/exit-bright.png);
      box-shadow: 0px 0px 10px 5px white; }
