.main-container {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/jpg/bar.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .main-container .layout-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 5;
    background: linear-gradient(315deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 60%, black 100%); }
  .main-container .layout-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    z-index: 5;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 60%, black 100%); }
  .main-container .table {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    background: url(../../assets/jpg/table.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
