.set-center, .menu-container .background, .menu-container .menu, .menu-container .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container, .menu-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout, .menu-container .layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn, .menu-container .btn-box > button {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold; }
  .common-btn:hover, .menu-container .btn-box > button:hover {
    color: #7e583f;
    background-color: #fff; }

.flex-center, .menu-container .btn-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden-scroll, .menu-container .content .worry .story {
  overflow-y: scroll;
  -ms-overflow-style: none; }
  .hidden-scroll::-webkit-scrollbar, .menu-container .content .worry .story::-webkit-scrollbar {
    display: none; }

.menu-container .background {
  width: 60%;
  height: 70%;
  background-image: url(../../public/assets/image/leather.jpg);
  background-size: contain;
  border-radius: 1vw; }

.menu-container .menu {
  width: 98%;
  height: 98%;
  background-image: url(../../public/assets/image/menu-bgi.png);
  background-size: 100% 100%;
  text-align: center;
  color: #7e583f; }
  .menu-container .menu .type {
    font-size: 2vw;
    font-weight: bold;
    margin-top: 1.5vw; }

.menu-container .content {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1vw;
  cursor: pointer; }
  .menu-container .content:hover {
    background-color: rgba(255, 255, 255, 0.3); }
  .menu-container .content .alcohol {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 30%;
    height: 80%; }
    .menu-container .content .alcohol .bottle {
      display: inline-block;
      width: 35%;
      height: auto; }
    .menu-container .content .alcohol .glass {
      display: inline-block;
      width: 20%;
      height: auto; }
    .menu-container .content .alcohol .reply-count {
      font-size: 1.5vw;
      font-weight: bold; }
  .menu-container .content .worry {
    width: 60%;
    height: 90%;
    border-left: 2px #7e583f dashed;
    padding: 0 1vw; }
    .menu-container .content .worry .title {
      font-size: 1.3vw;
      font-weight: bold;
      margin-bottom: 2vw;
      overflow: hidden; }
    .menu-container .content .worry .story {
      text-align: left;
      font-size: 1vw;
      color: #8e684f;
      width: 100%;
      height: 70%;
      white-space: pre-wrap; }

.menu-container .btn-box {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }
  .menu-container .btn-box > button {
    width: 5vw;
    height: 2vw;
    margin: 0 1vw;
    border-radius: 0.5vw; }
    .menu-container .btn-box > button:hover {
      background-color: #fff;
      color: #7e583f; }

.menu-container .arrow-back {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  content: url(../../public/assets/image/back.png);
  width: 2vw;
  height: 5vw;
  cursor: pointer; }
  .menu-container .arrow-back:hover {
    content: url(../../public/assets/image/back-white.png); }

.menu-container .arrow-next {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  content: url(../../public/assets/image/next.png);
  width: 2vw;
  height: 5vw;
  cursor: pointer; }
  .menu-container .arrow-next:hover {
    content: url(../../public/assets/image/next-white.png); }
