.reply-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }
  .reply-container .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .reply-container .content {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; }
    .reply-container .content .reply-box {
      position: relative;
      width: 100%;
      height: 100%; }
    .reply-container .content .reply {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 50%;
      border: 1px solid #7f00ff; }
    .reply-container .content .worry-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .reply-container .content .worry-box .worry {
        position: relative;
        width: 100%;
        height: 0%;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0, 1, 1, 0.9);
        background-color: blue; }
      .reply-container .content .worry-box .bottom {
        height: 90%; }
      .reply-container .content .worry-box .worry-content {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
        border: 1px solid #7f00ff; }
      .reply-container .content .worry-box .arrow-box {
        position: relative;
        width: 100%;
        height: 10%;
        background-color: red;
        cursor: pointer; }
      .reply-container .content .worry-box .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #7f00ff; }
