.set-center, .reply-container .content, .reply-container .content .reply-box .reply, .reply-container .content .worry-content, .reply-container .content .arrow-box .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container, .reply-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout, .reply-container .layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn, .reply-container .content .reply-box .prev-btn, .reply-container .content .reply-box .next-btn, .reply-container .content .reply-box .delete-btn {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold; }
  .common-btn:hover, .reply-container .content .reply-box .prev-btn:hover, .reply-container .content .reply-box .next-btn:hover, .reply-container .content .reply-box .delete-btn:hover {
    color: #7e583f;
    background-color: #fff; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden-scroll, .reply-container .content .worry-content .story {
  overflow-y: scroll;
  -ms-overflow-style: none; }
  .hidden-scroll::-webkit-scrollbar, .reply-container .content .worry-content .story::-webkit-scrollbar {
    display: none; }

.reply-container .content {
  width: 50vw;
  height: 60vh;
  background-image: url(../../public/assets/image/leather.jpg);
  background-repeat: repeat;
  background-size: contain;
  padding: 1vw; }
  .reply-container .content .reply-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .reply-container .content .reply-box .reply {
      width: 80%;
      height: 55%;
      color: white;
      font-size: 1vw;
      white-space: pre-wrap;
      border: 2px white dashed;
      border-radius: 10px;
      padding: 20px; }
    .reply-container .content .reply-box .prev-btn {
      position: absolute;
      bottom: 5%;
      left: 8%;
      width: 5vw;
      height: 2vw;
      border-radius: 0.5vw; }
    .reply-container .content .reply-box .next-btn {
      position: absolute;
      bottom: 5%;
      right: 8%;
      width: 5vw;
      height: 2vw;
      border-radius: 0.5vw; }
    .reply-container .content .reply-box .delete-btn {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      width: 5vw;
      height: 2vw;
      border-radius: 0.5vw; }
  .reply-container .content .worry {
    position: relative;
    width: 90%;
    height: 0%;
    transition-duration: 1s;
    background-color: #cebea1;
    box-sizing: border-box;
    border: 2px #cebea1 solid;
    margin: 0 auto; }
  .reply-container .content .bottom {
    height: 90%; }
  .reply-container .content .worry-content {
    display: none;
    width: 80%;
    height: 80%;
    color: #7e583f; }
    .reply-container .content .worry-content .title {
      text-align: center;
      font-size: 1.3vw;
      font-weight: bold;
      margin-bottom: 2vw;
      overflow: hidden; }
    .reply-container .content .worry-content .story {
      font-size: 1vw;
      white-space: pre-wrap;
      width: 100%;
      height: 70%; }
  .reply-container .content .arrow-box {
    position: relative;
    margin-left: 5%;
    width: 95%;
    height: 10%;
    background-image: url(../../public/assets/image/paper.png);
    background-size: 100% 100%;
    cursor: pointer; }
    .reply-container .content .arrow-box .arrow {
      width: 10%;
      height: auto; }
