.set-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer; }
  .common-btn:hover {
    color: #7e583f;
    background-color: #fff; }

.reply-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }
  .reply-container .layout {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.8); }
  .reply-container .content {
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../../public/assets/image/leather.jpg);
    background-repeat: repeat;
    background-size: contain;
    padding: 1vw; }
    .reply-container .content .reply-box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      .reply-container .content .reply-box .reply {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 55%;
        color: white;
        font-size: 20px;
        white-space: pre-wrap;
        border: 2px white dashed;
        border-radius: 10px;
        padding: 20px; }
      .reply-container .content .reply-box .prev-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer; }
        .reply-container .content .reply-box .prev-btn:hover {
          color: #e8d6b4;
          background-color: #6e482f; }
      .reply-container .content .reply-box .next-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        right: 5%;
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer; }
        .reply-container .content .reply-box .next-btn:hover {
          color: #e8d6b4;
          background-color: #6e482f; }
      .reply-container .content .reply-box .delete-btn {
        all: unset;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 5vw;
        height: 2vw;
        border-radius: 0.5vw;
        background-color: #e8d6b4;
        color: #6e482f;
        text-align: center;
        font-weight: bold;
        cursor: pointer; }
        .reply-container .content .reply-box .delete-btn:hover {
          color: #e8d6b4;
          background-color: #6e482f; }
    .reply-container .content .worry {
      position: relative;
      width: 95%;
      height: 0%;
      transition-duration: 1s;
      background-color: #cebea1;
      border: 2px #cebea1 solid; }
    .reply-container .content .bottom {
      height: 90%; }
    .reply-container .content .worry-content {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      color: #6e482f; }
      .reply-container .content .worry-content .title {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 2vw;
        overflow: hidden; }
      .reply-container .content .worry-content .story {
        font-size: 18px;
        overflow-y: scroll;
        -ms-overflow-style: none;
        white-space: pre-wrap;
        width: 100%;
        height: 70%; }
        .reply-container .content .worry-content .story::-webkit-scrollbar {
          display: none; }
    .reply-container .content .arrow-box {
      position: relative;
      width: 100%;
      height: 10%;
      margin: 0 auto;
      background-image: url(../../public/assets/image/paper.png);
      background-size: 100% 100%;
      cursor: pointer; }
      .reply-container .content .arrow-box .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10%;
        height: auto; }
