.set-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.component-container {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0; }

.component-layout {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.common-btn {
  all: unset;
  background-color: #7e583f;
  color: #e8d6b4;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold; }
  .common-btn:hover {
    color: #7e583f;
    background-color: #fff; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden-scroll {
  overflow-y: scroll;
  -ms-overflow-style: none; }
  .hidden-scroll::-webkit-scrollbar {
    display: none; }
